<!DOCTYPE html>
<html lang="en">
<head>
		<title>APM - Add Project</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="/static/apm/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/apm/css/style.css">
		<link rel="stylesheet" href="/static/apm/css/sidebar.css">
		<link rel="stylesheet" href="/static/apm/css/button.css">
		<link rel="stylesheet" href="/static/apm/css/bootstrap-datepicker.min.css">
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<style>
			.apm-nav-brand-1{
				padding: 15px!important;
				font-size: 15px!important;
				margin: 0!important;
				padding-left: 8px!important;
			}
			.apm-dropdown-projects{
				margin-left: -98px!important;
				margin-top: 50px!important;
				z-index:99999999;
			}
			.apm-add-proj-descr-box {
			    border: 1px solid #BBB9B9;
			    padding: 20px 20px;
			    background: #f8f8f8;
			}
			
		</style>
		
	
		
	</head>
<body>
    <nav class="navbar navbar-default no-margin nav-apm">
    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header fixed-brand">
                    
					<!-- Menu Toggle -->
					<i class="fa fa-bars fa-2x collapse in" data-toggle="collapse" id="menu-toggle-2" aria-hidden="true"></i>
					
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".apm-navbar" aria-expanded="false" aria-controls="navbar">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
					
					<!-- Project Name in dropdown -->
					<span class="dropdown">
						<a class="navbar-brand apm-nav-brand-1" href="/project"  role="button" aria-haspopup="true" aria-expanded="false">View All Projects<span class="caret"></span></a>
					</span>
                </div><!-- navbar-header-->
 
                <div class="collapse navbar-collapse apm-navbar" id="bs-example-navbar-collapse-1">
                           <!--  <ul class="nav navbar-nav">
                                <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-share-alt"></i> SOCIAL MEDIA
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-facebook-official"></i> Facebook</a></li>
										  <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
										  <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
										</ul>
									  </li>
									  
									  
									  <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-sticky-note"></i> DOCUMENTS
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-file"></i> Document 1</a></li>
										  <li><a href="#"><i class="fa fa-file"></i> Document 2</a></li>
										  <li><a href="#"><i class="fa fa-file"></i> Document 3</a></li>
										</ul>
									  </li>
									  
									  <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ISSUES
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Issue 1</a></li>
										  <li><a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Issue 2</a></li>
										  <li><a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Issue 3</a></li>
										</ul>
									  </li>
									  
                            </ul>
							 -->
							
							
							<ul class="nav navbar-nav navbar-right nav-desktop">
									<li class="search-field-box">
										<i class="fa fa-search search-icon"></i><input type="text" class="form-control search-field" placeholder="Search...">
									</li>
									 
 									  <li class="dropdown">
										<a href="#" class="dropdown-toggle user-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										
										Hi , {{userName}}
										{%if blob%}
										<img src="/view_photo?photo_key={{blob}}" class="apm-profile-thumb"> </a>
										{%else%}
										<i class="fa fa-user fa-3x"></i></a>
										{%endif%}
										<ul class="dropdown-menu multi-level menu-user">
										{%if approle == "Admin"%}
										  <li><a href="/admin/dashboard"><i class="fa fa-refresh"></i>Switch Role</a></li>
										  {%endif%}
										  <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
									      <li class="dropdown-submenu">
													<a href="#"><i class="fa fa-caret-left arrow-left"></i><i class="fa fa-cog"></i> Settings</a>
													<ul class="dropdown-menu submenu-list">
													  <li><a href="#"><i class="fa fa-bell"></i> Notifications</a></li>
													  <li><a href="#"><i class="fa fa-link"></i> Linked Accounts</a></li>
													  <li><a href="#"><i class="fa fa-trash"></i> Clear History</a></li>
													  <li><a href="#"><i class="fa fa-share-square"></i> Share Query</a></li>
													  <li><a href="#"><i class="fa fa-certificate"></i> Assistance</a></li>
													</ul>
										  </li>
										  <li><a href="#"><i class="fa fa-question-circle"></i> Help</a></li>
										  <li role="separator" class="divider"></li>
										  <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
										</ul>
									  </li>
									</ul>
							
                </div><!-- bs-example-navbar-collapse-1 -->
    </nav>
	
	
    <div>
        
		
		
		
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">Add Project</h2>
						
						<hr>
						
					<!-- Main add project content starts-->
						<ul class="nav nav-tabs">
							<li class="active"><a href="#proj-details" class="apm-add-proj-tab-title">Project Details</a></li>
							<li><a href="#proj-team" class="apm-add-proj-tab-title">Project Team</a></li>
							<li><a href="#estimation-guidelines" class="apm-add-proj-tab-title">Estimation Guidelines</a></li>
						</ul>

						<div class="tab-content">
							
							<!-- Project Details -->
							<div id="proj-details" class="tab-pane fade in active">
								<div class="row">
									<div  class="col-md-4 apm-add-proj-descr-box">
										<form role="form" id="prj">
										{% csrf_token %}
											<!-- Project Title -->
											<div  class="form-group">
												<label class="apm-landing-reg-label">Project Title</label>
												<input name="proj_name" type="text" class="form-control apm-landing-textbox-reg">
											</div>
											
											<!-- Project Description -->
											<div class="form-group">
												<label class="apm-landing-reg-label">Project Description</label>
												<textarea name="proj_desc" class="form-control apm-landing-textbox-reg apm-text-area" rows="6"></textarea>
											</div>
											<div class="row">
												<!-- Start Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">Start Date</label>
														<input name="proj_start" id="from" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker" aria-hidden="true"></i>
													</div>
												</div>
												
												<!-- End Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">End Date</label>
														<input name="proj_end" id="to" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker1" aria-hidden="true"></i>
													</div>
												</div>
												
											</div>
										</form>
									</div>
									<div class="col-md-8">
									</div>
								</div>
								<div class="apm-add-proj-btnbox">
							<button class="apm-add-proj-btn" id="submit">ADD</button>
							<button class="apm-add-proj-btn" id="cancel">CANCEL</button>
						</div>
							</div>
							<!-- Project Details ENDS-->
							
							
							<!-- Project Team -->
							<div id="proj-team" class="tab-pane fade">
								<div class="apm-nomember-box" style="display:none;">
									<h4 class="apm-nomember-text">You have no members in your project. <br>Please add members by clicking Add Member button.</h4>
									<button class="apm-addmember-btn" id="apm-addmember-btn">Add Member</button>
								</div>
								
								<div class="apm-member-listing-box">
									<div class="row">
										<div class="col-md-8">
											
											<div class="apm-nomember-box-listing">
												<button class="apm-addmember-btn" id="apm-addmember-btn2" disabled>Add Member</button>
											</div>
											
											<div class="table-responsive">
												<table class="table table-bordered apm-member-listing-table">
													<thead>
													  <tr>
														<th>Member Name</th>
														<th>Role</th>
														<th>Action</th>
													  </tr>
													</thead>
													<tbody>
													  <tr>
														<td colspan="3">
														 Create Project to Add Members
														 </td> 
															
														</tr>	
														
													  
													
													  
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-md-4">
											
										</div>
									</div>
								
								</div>
								
							</div>
							<!-- Project Team ENDS -->
							
							
							<!-- Project estimation-guidelines -->
							<div id="estimation-guidelines" class="tab-pane fade">
								<div class="apm-member-listing-box">
									<div class="row">
										<div class="col-md-8">
											
											<div class="apm-nomember-box-listing">
												<button class="apm-addmember-btn" id="apm-addestimates-btn" disabled>Add Estimates</button>
											</div>
											
											<div class="table-responsive">
												<table class="table table-bordered apm-member-listing-table">
													<thead>
													  <tr>
														<th>Complexity</th>
														<th>Complexity Points</th>
														<th>Estimated Efforts</th>
														<th>Action</th>
													  </tr>
													</thead>
													<tbody>
													  
														<tr>
														<td colspan="4">
														
															 Creat Project to Add Estimates 
															</td>
															</tr>
														
													  
													  
													
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-md-4">
											
										</div>
									</div>
								
								</div>
							</div>
							<!-- Project estimation-guidelines -->
							
							
						</div>
						
						<hr>
						
						
					<!-- Main add project content ENDS-->
						
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		
		<!-- Add Team Members Starts -->
			<div id="add-member-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add Team Member</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-2">
								</div>
								
								<div class="col-md-8">
										<form role="form">
											  <!-- Team Mamber Name --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Member Name</label>
												<select class="form-control apm-landing-textbox-reg apm-modal-textbox">
													<option>- Select -</option>
													{% for users in userslist %}
													<option  value= "{{ users.name }}"> {{ users.name }}</option>
													{%endfor%}
												</select>
											  </div>
											  
											  <!-- Team Mamber Role --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Role</label>
												<select class="form-control apm-landing-textbox-reg apm-modal-textbox">
													<option>- Select -</option>
													<option>Software Developer</option>
													<option>Software Tester</option>
													<option>UI/UX developer</option>
												</select>
											  </div>
											  
											
										</form>
										
								</div>	
								<div class="col-md-2">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal">Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Add Team Members Modal Ends -->
	
	
	<!-- Add Estimation Timelines Starts -->
			<div id="add-estimation-timeline-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add Estimation Guidelines</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-2">
								</div>
								
								<div class="col-md-8">
										<form role="form">
											  <!-- Complexity --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Complexity</label>
												<input type="text" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											  
											  <!-- Complexity Points --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Complexity Points</label>
												<input type="text" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											  
											  <!-- Estimated Efforts --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Estimated Efforts</label>
												<input type="text" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											
										</form>
										
								</div>	
								<div class="col-md-2">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal">Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Add Estimation Timelines Modal Ends -->
	
	<!-- Information modal on change of dropdown Modal Starts -->
			<div id="info-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading" id="member-header-text">Information</h4>
				  </div>
					<div  class="modal-body user-management-body">
							<div class="row">
								
								<div class="col-md-12">
									<p class="est-eff-information-modal-text">	
										
										<b>Project Created Successfully</b><br><br>
										
										Project created, now you can add members and estimates to project.
										
									</p>
								</div>	
								
							</div>
							
				  </div>
				  
				  <div class="modal-footer add-task-modal-footer">
					<button id="viewpage" type="button" class="add-task-btn-modal" data-dismiss="modal">OK</button>
					
				  </div>
				</div>

			  </div>
			</div>
	<!-- Information modal on change of dropdown Modal Ends -->	
	
	<!-- Alert modal on change of dropdown Modal Starts -->
			<div id="alert-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading" id="member-header-text">Alert</h4>
				  </div>
					<div  class="modal-body user-management-body">
							<div class="row">
								
								<div class="col-md-12">
									<p class="est-eff-information-modal-text">	
										
										<b>End Date Should be greater that Start Date.</b><br><br>
										
										
										
									</p>
								</div>	
								
							</div>
							
				  </div>
				  
				  <div class="modal-footer add-task-modal-footer">
					<button id="dismiss" type="button" class="add-task-btn-modal" data-dismiss="modal">OK</button>
					
				  </div>
				</div>

			  </div>
			</div>
	<!-- Alert modal on change of dropdown Modal Ends -->	
		
		<script src="/static/apm/js/jquery.js"></script>
		<script src="/static/apm/js/bootstrap.min.js"></script>
		<script src="/static/apm/js/side-menu.js"></script>
		<script src="/static/apm/js/bootstrap-datepicker.min.js"></script>
		<script src="/static/apm/js/main.js"></script>
		
		
		<script>
		        var proid;
				$(document).ready(function(){
					$(".nav-tabs a").click(function(){
						$(this).tab('show');
					});
					$('.datepicker').datepicker({
						format: 'mm/dd/yyyy',
						startDate: '0d'
					});
					
					$('.form-group').find('.open-datetimepicker').on('click', function(){
					    $('#from').trigger('focus');
					});
					
					$('.form-group').find('.open-datetimepicker1').on('click', function(){
					    $('#to').trigger('focus');
					});
					$("#apm-addmember-btn").click(function(e) {
						$('#add-member-modal').modal('show');
					});
					$("#apm-addmember-btn2").click(function(e) {
						$('#add-member-modal').modal('show');
					});
					$("#apm-addestimates-btn").click(function(e) {	
						$('#add-estimation-timeline-modal').modal('show');
					});
					$("#viewpage").on("click",function(){
						
						window.location.href = "/apm/project/viewproject?proj_id="+proid+"#proj-team";
							
				})	
				$("#dismiss").on("click",function(){
						
					$('#alert-modal').modal('hide');
							
				})	
				
					$("#cancel").on("click",function(){
						
						window.location.href = "/apm/project";
							
				})
					$("#submit").on("click",function(){
						var startDate = $('#from').val().split("/");
						var endDate = $('#to').val().split("/")
                       var s = new Date(startDate[2], startDate[1] - 1, startDate[0]);
						var e = new Date(endDate[2], endDate[1] - 1, endDate[0]);
						
						var s = new Date(startDate[2], startDate[1] - 1, startDate[0]);
						var e = new Date(endDate[2], endDate[1] - 1, endDate[0]);
						
						if (s>e) {
							$('#alert-modal').modal('show');
						}
						else
							{
							
						
						$("#submit").prop("disabled",true); 
						var ser = $("#prj").serialize();
						 
					       
				 	$.post( "/apm/project/add", ser)
			  		.done(function( data ) {
			  			
			  				console.log("the data is"+data);
			  				proid = data ;
			  				$('#info-modal').modal('show'); 
			  				
			  				
			  				
			  			
			  		}); 
							}
					
				})

				});
		</script>
</body>
</html>