<html>
	<head>
		<title>Dashboard</title>
		{% include "apm/head.html" %}
	<script>
		
		$(document).ready(function() {
		
			$(".messages-main-box").niceScroll();
			
			$("#menu-toggle").click(function(e) {
				e.preventDefault();
				$("#wrapper").toggleClass("toggled");
			});
			
			/******** For Hamburger & Close icon *****/
				
			$('#ham-side-icon').show();	
			
			$( "#menu-toggle" ).click(function() {
				var toggle = $( "#wrapper" ).hasClass("toggled");
					
						if(toggle == true){
							$('#close-side-icon').show();
							$('#ham-side-icon').hide();
							
						} else {
							$('#close-side-icon').hide();
							$('#ham-side-icon').show();
						}
				
			});
			/******** For Hamburger & Close icon ends *****/
			
			if($( window ).width() >= 768) {
				$( "#menu-toggle" ).click(function() {
						var a = $( "#wrapper" ).hasClass("toggled");
					
						if(a == true){
							
							$('#sidebar-wrapper').css('width','250px');
							$('#sidebar-wrapper').css('left','250px');
							$('#wrapper.toggled').css('padding-left','250px');
							
						} else {
							$('#sidebar-wrapper').css('width','0px');
							$('#sidebar-wrapper').css('left','0px');
							$('#wrapper').css('padding-left','0px');
							
						}
						
				});
			}
			
			if($( window ).width() <= 767) {
				$( "#menu-toggle" ).click(function() {
						var a = $( "#wrapper" ).hasClass("toggled");
						
						if(a == true){
							  
							
							$('#sidebar-wrapper').css('width','250px');
							$('#sidebar-wrapper').css('left','250px');
							$('#wrapper.toggled').css('padding-left','250px');
							
						} else {
							$('#sidebar-wrapper').css('width','0px');
							$('#sidebar-wrapper').css('left','0px');
							$('#wrapper').css('padding-left','0px');
							
						}
						
				});
			}
			
					
			/********** For Chatbox **********/
						
			$('.chatbox-pro-management').css('bottom','-423px');
			
			$( ".online-user-name" ).click(function() {
				$('.chatbox-pro-management').css('bottom','0px');
				$('.chatbox-pro-management').css('transition','all .8s');
				
			});
			$( ".close-chatbox" ).click(function() {
				$('.chatbox-pro-management').css('bottom','-423px');
				$('.chatbox-pro-management').css('transition','all .8s');
			});
		});
		
		</script>	
	</head>
	
	<body>
		<div id="wrapper">
		  <!-- Sidebar -->
		 {% include "apm/sidebar.html" %} 
		
	<!-- Page Content -->
       <div id="page-content-wrapper">
		{% include "apm/header.html" %} 
	
		
		
						<!-- Main Page content starts -->	
						
						<div class="main-box">
							<!-- <div class="col-md-6">
								<div class="panel panel-default mainpage-panels">
									<div class="panel-heading main-box-panel-heading">
										Project progress chart
									</div>
									<div class="panel-body">
										<img src="assets/img/bar-chart.png" class="img-responsive">
										
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-default mainpage-panels">
									<div class="panel-heading main-box-panel-heading">
										Total Milestone achieved
									</div>
									<div class="panel-body">
										<table class="table billing-ex-table table-striped">
											<thead>
											  <tr>
												<th>User</th>
												<th>Milestones Achieved</th>
												<th>Duration</th>
											  </tr>
											</thead>
											<tbody>
											  <tr>
												<td>User 1</td>
												<td>12</td>
												<td>40 hours</td>
											  </tr>
											 <tr>
												<td>User 2</td>
												<td>8</td>
												<td>21 hours</td>
											  </tr>
											 <tr>
												<td>User 3</td>
												<td>5</td>
												<td>15 hours</td>
											  </tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-default mainpage-panels">
									<div class="panel-heading main-box-panel-heading">
										Total Tasks completed
									</div>
									<div class="panel-body">
										<table class="table billing-ex-table table-striped">
											<thead>
											  <tr>
												<th>User</th>
												<th>Tasks Completed</th>
												<th>Duration</th>
											  </tr>
											</thead>
											<tbody>
											  <tr>
												<td>User 1</td>
												<td>12</td>
												<td>40 hours</td>
											  </tr>
											 <tr>
												<td>User 2</td>
												<td>8</td>
												<td>21 hours</td>
											  </tr>
											 <tr>
												<td>User 3</td>
												<td>5</td>
												<td>15 hours</td>
											  </tr>
											</tbody>
										</table>
									
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-default mainpage-panels">
									<div class="panel-heading main-box-panel-heading">
										Project & employee activity
									</div>
									<div class="panel-body"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-default mainpage-panels">
									<div class="panel-heading main-box-panel-heading">
										Billing Expenses
									</div>
									<div class="panel-body">
										<table class="table billing-ex-table table-striped">
											<thead>
											  <tr>
												<th>Bill Date</th>
												<th>Due Date</th>
												<th>Description</th>
												<th>Total</th>
											  </tr>
											</thead>
											<tbody>
											  <tr>
												<td>March 29 2016</td>
												<td>Due in 2 days</td>
												<td>Create Design of webpages.</td>
												<td>$ 50</td>
											  </tr>
											  <tr>
												<td>March 28 2016</td>
												<td>Due in 16 days</td>
												<td>Create payment gateway flow.</td>
												<td>$ 60</td>
											  </tr>
											  <tr>
												<td>March 10 2016</td>
												<td>Due in 6 days</td>
												<td>Create backend.</td>
												<td>$ 70</td>
											  </tr>
											</tbody>
										</table>
									
									</div>
								</div>
							</div>-->
						</div>
						
						<!-- Main Page content ENDS -->	
						
						
						<!-- CHATBOX STARTS -->

							<div class="panel panel-default chatbox-pro-management">
									<div class="panel-heading main-box-panel-heading chatbox-heading">
										<span class="online-user-name"><i class="fa fa-user"></i>  Online User 1   <i class="fa fa-circle"></i></span>
										<div class="chatbox-action">
											<!--<a href="#" class="chatbox-action-link" id="minimize-chatbox"><i class="fa fa-minus"></i></a>-->
											<a href="#" class="chatbox-action-link close-chatbox" id="close-chatbox"><i class="fa fa-times"></i></a>
										</div>
									</div>
									
									
									<div class="panel-body chatbox-main-panel-body">
										<div class="messages-main-box">
												<div class="panel panel-default message-box-panel-sender">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit
													
													<div class="row time-row">
														<span class="time-span">11:45:23 AM</span>
													</div>
												</div>
												<div class="panel panel-default message-box-panel-reciever">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
													
													<div class="row time-row">
														<span class="time-span">06:26:40 PM</span>
													</div>
												</div>
												<div class="panel panel-default message-box-panel-sender">
													Lorem ipsum dolor sit amet.
													
													<div class="row time-row">
														<span class="time-span">11:45:23 AM</span>
													</div>
												</div>
												<div class="panel panel-default message-box-panel-reciever">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													
													<div class="row time-row">
														<span class="time-span">06:26:40 PM</span>
													</div>
												</div>
										</div>
										
										<hr/>
										
										<!-- Send Button & text area of message -->
										<textarea class="form-control chatbox-textarea" rows="2" id="comment"></textarea>
										<span class="chatbox-send-btn">
											<i class="fa fa-paper-plane"></i>
										</span>
									
									</div>
							</div>
								
						<!-- CHATBOX ENDS -->	
						
						
						
		</div> <!-- Page content Wrapper ends -->		
	</div> <!-- Wrapper ends -->	
	</body>
</html>