					<!-- For mobile user menu starts -->
						<ul class="nav-mobile">
									
									  <li class="dropdown">
										<a href="#" class="dropdown-toggle user-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<img src="assets/img/user.png" name="{{user.name}}" class="get_profile_image">
										<span class="caret"></span></a>
										<br/>
										<span class="user_name" style="color:#FF5B61">Hi , {{user.name}}</span>
										<ul class="dropdown-menu menu-user menu-responsive">
										  <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
										  <li class="dropdown-submenu">
													
													<a href="#"><i class="fa fa-caret-left arrow-left"></i><i class="fa fa-cog"></i> Settings</a>
													<ul class="dropdown-menu submenu-list">
													  <li><a href="#"><i class="fa fa-bell"></i> Notifications</a></li>
													  <li><a href="#"><i class="fa fa-link"></i> Linked Accounts</a></li>
													  <li><a href="#"><i class="fa fa-trash"></i> Clear History</a></li>
													  <li><a href="#"><i class="fa fa-share-square"></i> Share Query</a></li>
													  <li><a href="#"><i class="fa fa-certificate"></i> Assistance</a></li>
													</ul>
										  </li>
										 
										  
										  
										  <li class="dropdown-submenu">
													
													<a href="#"><i class="fa fa-caret-left arrow-left"></i><i class="fa fa-comments"></i> Chats</a>
													<ul class="dropdown-menu submenu-list">
													  <li><a href="#"><i class="fa fa-comment"></i> Recent Chat</a></li>
													  <li><a href="#"><i class="fa fa-users"></i> Group Chat</a></li>
													  <li><a href="#"><i class="fa fa-black-tie"></i> Client Chat</a></li>
													</ul>
										  </li>
										  
										  <li><a href="#"><i class="fa fa-question-circle"></i> Help</a></li>
										  <li role="separator" class="divider"></li>
										  <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
										</ul>
									  </li>
						</ul>
						<!-- For mobile user menu Ends -->
						
						
						<section class="top-main-section">
							 <!-- Static navbar -->
							  <nav class="navbar navbar-default navbar-pro-management">
								<div class="container-fluid">
								  <div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
									  <span class="sr-only">Toggle navigation</span>
									  <span class="icon-bar"></span>
									  <span class="icon-bar"></span>
									  <span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="#">
										
										<img src="assets/img/eternus.png" class="logo-img">
									</a>
								  </div>
								  <div id="navbar" class="navbar-collapse collapse">
									<ul class="nav navbar-nav">
									  
									<!--   <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-credit-card"></i> SALES
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-cogs"></i> Sales 1</a></li>
										  <li><a href="#"><i class="fa fa-cogs"></i> Sales 2</a></li>
										  <li><a href="#"><i class="fa fa-cogs"></i> Sales 3</a></li>
										</ul>
									  </li>
									  -->
									  
									<!-- 
									  <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-share-alt"></i> SOCIAL MEDIA
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-facebook-official"></i> Facebook</a></li>
										  <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
										  <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
										</ul>
									  </li>
									--> 
									  
									  <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-sticky-note"></i> PROJECTS
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-cog"></i> Project 1</a></li>
										  <li><a href="#"><i class="fa fa-cog"></i> Project 2</a></li>
										  <li><a href="#"><i class="fa fa-cog"></i> Project 3</a></li>
										  <li><a href="#"><i class="fa fa-cog"></i> Create New Project</a></li>
										</ul>
									  </li>
									</ul>
									
									
									<ul class="nav navbar-nav navbar-right nav-desktop">
									  <li class="search-field-box"><i class="fa fa-search search-icon"></i><input type="text" class="form-control search-field project-management-textbox" placeholder="Search..."></li>
									 
 									  <li class="dropdown">
										<a href="#" class="dropdown-toggle user-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										
										<img src="assets/img/user.png" class="get_profile_image">
										
										<span class="caret"></span></a>
										
										<span class="user_name" style="color:#FF5B61">Hi , {{user.name}}</span>
										<ul class="dropdown-menu multi-level menu-user">
										  <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
									      <li class="dropdown-submenu">
													<a href="#"><i class="fa fa-caret-left arrow-left"></i><i class="fa fa-cog"></i> Settings</a>
													<ul class="dropdown-menu submenu-list">
													  <li><a href="#"><i class="fa fa-bell"></i> Notifications</a></li>
													  <li><a href="#"><i class="fa fa-link"></i> Linked Accounts</a></li>
													  <li><a href="#"><i class="fa fa-trash"></i> Clear History</a></li>
													  <li><a href="#"><i class="fa fa-share-square"></i> Share Query</a></li>
													  <li><a href="#"><i class="fa fa-certificate"></i> Assistance</a></li>
													</ul>
										  </li>
										
										  <li class="dropdown-submenu">
													<a href="#"><i class="fa fa-caret-left arrow-left"></i><i class="fa fa-comments"></i> Chats</a>
													<ul class="dropdown-menu submenu-list">
													  <li><a href="#"><i class="fa fa-comment"></i> Recent Chat</a></li>
													  <li><a href="#"><i class="fa fa-users"></i> Group Chat</a></li>
													  <li><a href="#"><i class="fa fa-black-tie"></i> Client Chat</a></li>
													</ul>
										  </li>
										  <li><a href="#"><i class="fa fa-question-circle"></i> Help</a></li>
										  <li role="separator" class="divider"></li>
										  <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
										</ul>
									  </li>
									</ul>
								  </div><!--/.nav-collapse -->
								</div><!--/.container-fluid -->
							  </nav>

						</section>	
						
						<!-- Toggle Button -->
							<!--<a href="#menu-toggle" class="btn btn-default pro-button" id="menu-toggle">MENUS</a>-->
							
							<div id="menu-toggle">
								
								<img src="assets/img/ham-side-icon.png" id="ham-side-icon">
								<img src="assets/img/close-side-icon.png" id="close-side-icon" style="display:none;">
							</div>
							
						<!-- Toggle Button ENDS -->