		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="/static/apm/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/apm/css/style.css">
		<link rel="stylesheet" href="/static/apm/css/sidebar-test.css">
		<link rel="stylesheet" href="/static/apm/css/button.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/static/apm/js/bootstrap.min.js"></script>
		<script src="/static/apm/js/nice-scroll.js"></script>
		<script src="/static/apm/js/button.js"></script>
		<script src="/static/apm//js/jquery.validate.min.js"></script>
		