	<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li class="sidebar-brand">
						<a href="#">
							Agile Project Management
						</a>
					</li>
					<li>
						<a href="/dashboard" class="sidebar-main-list-name"><i class="fa fa-th-large side-font-icons"></i> Dashboard</a>
						
					</li>
					<li>
						<a class="sidebar-main-list-name" data-toggle="collapse" data-parent="" href="#collapseOne"><i class="fa fa-list"></i> Project Planning <span class="caret sidebar-caret"></span></a>
						<div id="collapseOne" class="panel-collapse collapse">
							<div class="panel-body sidebar-list-panel">
								<ul class="sidebar-list">
									<li>
										<a href="/project" class="sidebar-list-sub-item">Projects</a>
									</li>
								<!-- 	<li>
										<a href="#" class="sidebar-list-sub-item">Release</a>
									</li>
									<li>
										<a href="#" class="sidebar-list-sub-item">Product Backlog</a>
									</li>
									<li>
										<a href="#" class="sidebar-list-sub-item">Sprint Planning</a>
									</li>
									-->
								</ul>
							</div>
						</div>
					</li>
				<!-- 	<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-file-text side-font-icons"></i> Document Management</a>
					</li>
					<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-pie-chart side-font-icons"></i> Reports</a>
					</li>
					<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-bell side-font-icons"></i> Alerts & Notifications</a>
					</li>
				-->
					
				</ul>
			</div>
			<!-- /#sidebar-wrapper -->